<div class="container">
<%= render 'shared/page_title', title: "showing all recipes" %> 
<hr class="mb-5" />

<div class="img-div mb-5"> 
  <%= will_paginate %>
</div>

<%= render 'recipe', obj: @recipes %> 

<div class="img-div my-5"> 
  <%= will_paginate %>
</div>


</div>