.navbar {
	background-color: #073b15;
	padding: 4px 8px !important;
}
#logo {
	float: left;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	color: #fff;
	text-decoration: none;
}
.nav-link {
	color: #fff !important;
}
.jumb {
	background: lightgray;
	background-image: asset-url("cover.jpg");
	background-size: contain;
	text-align: center;
	height: 300px;
	padding: 70px;
}

.head1 {
	color: #fff;
}
.footer {
	background-color: #073b15;
	padding: 20px;
	text-align: center;
	color: white;
	font-size: 25px;
}
.well {
	background: lightgray;
	padding: 25px 20px 0px 20px;
	margin: 25px auto;
	border: 1px solid slategray;
	border-radius: 5px;
}
.pull {
	text-align: end;
}
#for-mr {
	margin: 115px auto;
}
.well a {
	color: #073b15;
	text-decoration: none;
}

.user-img {
	width: 125px;
	height: 125px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	margin: 10px auto;
}
.img-div {
	display: flex;
	justify-content: center;
}

.bt-clr {
	background-color: #073b15 !important;
	border-color: #073b15 !important;
}

.colormatch a {
	color: #073b15;
}

.col-cen {
	display: grid;
	justify-content: center;
}
.alt-p {
	display: flex;
	justify-content: space-between;
}
.close {
	color: black;
	text-decoration: none;
}

.btn {
	color: white !important;
}
.nav-li {
	color: black;
	text-decoration: none;
	padding: 10px 5px;
}

.previous_page {
	border: 1px solid gray;
	padding: 0px 5px;
	background-color: lightgray;
	margin-right: 5px;
}
.current {
	border: 1px solid gray;
	padding: 0px 5px;
	background-color: lightgray;
	margin-right: 5px;
}
.pagination a {
	border: 1px solid gray;
	padding: 0px 5px;
	background-color: lightgray;
	color: black;
	text-decoration: none;
	margin-right: 5px;
}
.next_page {
	border: 1px solid gray;
	padding: 0px 5px;
	background-color: lightgray;
	margin-right: 5px;
}

.dropdown-menu.show.abc {
	margin-left: -20px !important;
	top: 40px !important;
}
.badge {
	background-color: yellow;
}
